@font-face {
	font-family: "FontFirst";
    src: url("../fonts/droid-sans/DroidSans.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/droid-sans/DroidSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}