.image {
	position: relative;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f0f0f0;
	&.image-30px {
		width: 30px;
		height: 30px;
	}
	&.image-35px {
		width: 35px;
		height: 35px;
	}
	&.image-40px {
		width: 40px;
		height: 40px;
	}
	&.image-45px {
		width: 45px;
		height: 45px;
	}
	&.image-50px {
		width: 50px;
		height: 50px;
	}
	&.image-100px {
		width: 100px;
		height: 100px;
	}
	&.image-150px {
		width: 150px;
		height: 150px;
	}
	&.image-200px {
		width: 200px;
		height: 200px;
	}
	&.image-radius {
		border-radius: 3px;
	}
	&.image-circle {
		border-radius: 100%;
	}
	.icn {
		@include post_center();
		color: $txt-sek-color;
		.icn-big {
			font-size: 34px;
		}
	}
}