* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: none;
}
html {
	background-color: #144753;
}
html.set-scroll {
	overflow-y: hidden;
}
a {
	text-decoration: none;
}
.bdr-bottom {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
.bdr-top {
	border-top: 1px rgba(0,0,0,0.1) solid;
}
.bdr-all {
	border: 1px rgba(0,0,0,0.1) solid;
}

.main-title-head {
	text-align: center;
	color: rgba(0,0,0,0.84);
	margin: 30px 0 20px 0;
}
.col-auto {
	width: 100%;
	margin: 0 auto;
}
.col-all {
	width: calc(100% - 30px);
	margin: 0 auto;
}
.col-full {
	width: 1250px;
	margin: 0 auto;
}
.col-small {
	width: 700px;
	margin: 0 auto;
}

.padding-20px {
	padding: 20px 0;
}
.padding-15px {
	padding: 15px 0;
}
.padding-10px {
	padding: 10px 0;
}
.padding-5px {
	padding: 5px 0;
}

.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}

.pointer {
	cursor: pointer;
}
.crs-default {
	cursor: default;
}

.ttl-main-color {
	color: rgba(0,0,0,0.84);
	font-weight: 600;
	margin-bottom: 10px;
}
.ttl-sekunder-color {
	color: rgba(0,0,0,0.54);
}

.grid {
	display: grid;
	display: -ms-grid;
}
.grid.grid-2x {
	grid-template-columns: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr;
}
.grid.grid-3x {
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-columns: 1fr 1fr 1fr;
}
.grid .text-right {
	text-align: right;
}
.grid .grid-1 {
	grid-column: 1;
	-ms-grid-column: 1;
}
.grid .grid-2 {
	grid-column: 2;
	-ms-grid-column: 2;
}
.grid .grid-3 {
	grid-column: 3;
	-ms-grid-column: 3;
}

.btn {
	position: relative;
	min-width: 40px;
	height: 40px;
	padding: 0 15px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
	font-weight: 600;
}
.btn.width-all {
	width: 100%;
	padding: 0 0;
}
.btn-line-40px {
	line-height: 40px;
}
.btn-focus:focus {
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
}
.btn-circle {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
}
.main-color {
	color: #144753;
}
.btn-radius {
	border-radius: 40px;
}
.btn-main-color {
	background-color: #144753;
	color: #fff;
}
.btn-main2-color {
	background-color: #fff;
	color: rgba(0,0,0,0.54);
	border: 1px rgba(0,0,0,0.2) solid;
}
.btn-main2-color:hover {
	color: rgba(0,0,0,0.84);
	border: 1px rgba(0,0,0,0.84) solid;
}
.btn-main3-color {
	background-color: #529ecc;
	color: #fff;
}
.btn-grey-color {
	background-color: rgba(0,0,0,0.1);
	color: #555;
}
.btn-grey2-color {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0.54);
}
.btn-black-color {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.btn-primary-color {
	background-color: #fff;
	color: rgba(0,0,0,0.54);
}
.btn-primary-color:hover {
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.84);
}
.btn-black2-color {
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0.54);
}
.btn-black2-color:hover {
	color: rgba(0,0,0,0.84);
}
.btn-sekunder-color {
	background-color: rgba(0,0,0,0);
	color: #fff;
}
.btn-sekunder-color:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
.btn-sekunder2-color {
	box-shadow: 0 0 0 2px rgba(0,0,0,0.54);
	background-color: #fff;
	color: rgba(0,0,0,0.84);
}
.btn-color-fb {
	background-color: #44749d;
	color: #fff;
}
.btn-color-gg {
	background-color: #9a0000;
	color: #fff;
}
.btn-color-gg-2 {
	background-color: #fff;
	color: #9a0000;
	border: 1px #9a0000 solid;
}
.btn-color-gg-3 {
	background-color: #fff;
	color: #9a0000;
}
.btn-color-tw {
	background-color: #60d3f5;
	color: #fff;
}
.btn-color-ttl {
	color: rgba(0,0,0,0.84);
	font-weight: 900;
}
.btn-transaparent {
	background-color: rgba(0,0,0,0);
}

.slc {
	position: relative;
	width: calc(100%);
	padding: 0 15px;
	height: 45px;
	font-weight: 600;
	border-radius: 3px;
	background-color: #fff;
	color: rgba(0,0,0,0.54);
	border: 1px rgba(0,0,0,0.1) solid;
}
.slc:focus {
	background-color: rgba(225,225,225,0.54);
	color: rgba(0,0,0,0.84);
	border: 1px rgba(0,0,0,0.2) solid;
}
.slc option {
	width: calc(100%);
	padding: 15px;
}

.txt {
	width: calc(100% - 30px);
	height: 40px;
	font-size: 14px;
	font-weight: 900;
	padding: 0 15px;
	border-radius: 3px;
}
.txt-radius {
	border-radius: 40px;
}
.txt-main-color {
	background-color: #fff;
	color: rgba(0,0,0,0.84);
}
.txt-primary-color {
	background-color: #f0f0f0;
	color: rgba(0,0,0,0.84);
}
.txt-box-shadow {
	border: 1px rgba(0,0,0,0.1) solid;
}
.txt-sekunder-color {
	height: 38px;
	background-color: #fff;
	color: rgba(0,0,0,0.84);
	border: 1px rgba(0,0,0,0.1) solid;
}
.txt-sekunder-color:focus {
	border: 1px rgba(0,0,0,0.84) solid;
}
.txt-unbox {
	box-shadow: 0 0 0 #fff;
}
.txt-small {
	width: 100%;
	padding: 0;
}
.edit-text {
	max-height: 400px;
	overflow-y: auto;
	padding: 15px 2.5%;
	border-radius: 3px;
}
.edit-text img {
	width: 100%;
}
.padding-bottom {
	text-align: center;
	padding: 5px 0;
	color: #555;
	font-size: 10px;
}

.image {
	position: relative;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.image-30px {
	width: 30px;
	height: 30px;
}
.image-35px {
	width: 35px;
	height: 35px;
}
.image-40px {
	width: 40px;
	height: 40px;
}
.image-45px {
	width: 45px;
	height: 45px;
}
.image-50px {
	width: 50px;
	height: 50px;
}
.image-100px {
	width: 100px;
	height: 100px;
}
.image-radius {
	border-radius: 3px;
}
.image-circle {
	border-radius: 100%;
}

.toggle {
	font-size: 30px;
	color: #555;
	cursor: pointer;
}
.toggle.tgl-active {
	color: rgba(0,0,0,0.84);
}

/*progress bar*/
.frame-progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 300;
	display: none;
}
.frame-progress .place-progress {
	position: relative;
	top: 35%;
	width: 300px;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}
.frame-progress .place-progress .title {
	line-height: 1.5;
}

.ctn {
	font-size: 14px;
	color: rgba(0,0,0,0.54);
}
.ctn-up {
	text-transform: uppercase;
}
.ctn-main {
	line-height: 1.5;
	letter-spacing: 0.5px;
}
.ctn-sans-serif {
	font-family: Helvetica, Arial, sans-serif;
}
.ctn-serif {
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}
.ctn-pad {
	padding: 20px 0;
}
.ctn-pad-5px {
	padding: 5px 0;
}

.post-nav {
	position: relative;
	height: 40px;
	margin: 0 auto;
	background-color: #f0f0f0;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0 0 0 2px #f0f0f0;
	font-size: 14px;
}
.post-nav.radius {
	border-radius: 35px;
}
.post-nav.width-small {
	width: 250px;
}
.post-nav.width-all {
	width: 100%;
}
.post-nav ol li {
	list-style: none;
	float: left;
	text-align: center;
	width: 50%;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: rgba(0,0,0,0.54);
	font-weight: 600;
}
.post-nav ol li:hover {
	color: rgba(0,0,0,0.84);
}
.post-nav ol li.active {
	background-color: #fff;
	color: rgba(0,0,0,0.84);
}
.post-nav ol li.choose {
	background-color: #fff;
	color: rgba(0,0,0,0.84);
}

.load-other {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	display: none;
}
.load-other .btn {
	width: 100%;
	height: 50px;
	font-size: 16px;
}

.pagination {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	cursor: default;
}
.pagination li {
	list-style: none;
	display: inline-block;
	font-size: 14pt;
	font-weight: 600;
}
.pagination li {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	border-radius: 100%;
}
.pagination li.active {
	cursor: not-allowed;
}
.pagination li a {
	display: block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #44749d;
	color: #fff;
	border-radius: 100%;
}

.panel-bottom {
	width: 100%;
	background-color: #fff;
}
.panel-bottom.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.panel-bottom .pb-place {
	padding: 7.5px 0;
}
.panel-bottom .btn {
	padding: 0 5px;
}
.panel-bottom .love {
	min-width: 80px;
}

@media only screen and (max-width: 768px) {
	html.set-scroll-mobile {
		overflow-y: hidden;
	}
	.col-full {
		width: 100%;
	}
	.col-small {
		width: calc(100% - 20px);
	}
	.mobile {
		display: none;
	}
	.panel-bottom .pb-place {
		width: (90% - 20px);
		padding: 7.5px 10px;
	}
	.bdr-bottom-mobile {
		border-bottom: 1px rgba(0,0,0,0.1) solid;
	}
	.bdr-top-mobile {
		border-top: 1px rgba(0,0,0,0.1) solid;
	}
	.post-nav.width-small {
		width: calc(100% - 20px);
	}
}