@font-face {
	font-family: "FontFirst";
    src: url("../fonts/droid-sans/DroidSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ctn-main-font {
	font-family: "FontFirst";
	font-weight: 500;
	font-size: 60px;
}
.ctn-upp {
	text-transform: uppercase;
}